:root {
    --blue: #EAEAEA;
    --green: #080;
    --bg-green: #F0FAF0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    font-size: calc( 100vw / 20);
}

body {
    text-align: center;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: .5rem;
}

button>svg {
    width: 1.5rem;
    height: 1.5rem;
}

button.verify {
    z-index: 2000;
    position: fixed;
    bottom: 3rem;
    right: 1.5rem;
}

header {
    z-index: 1000;
    padding-top: 1em;
    font-weight: bold;
    letter-spacing: .15em;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin: 0 2rem;
    width: calc(100% - 4rem);
    background-color: white;
}

header>svg {
    color: red;
    width: 1em;
    height: 1em;
    float: left;
}

main {
    box-sizing: border-box;
    width: calc(100% - 4rem);
    background-color: white;
    margin: 0 auto;
    word-wrap: break-word;
    border-radius: .5rem;
    padding: 0;
    margin: 0 2rem;
}

main>div {
    margin: 1rem 0;
    padding: 0;
    width: 100%;
}

table {
    width: 100%;
    padding: 1rem;
}

table tr td:first-child {
    text-align: left;
}

table tr td:last-child {
    text-align: right;
}

.fat {
    font-weight: 600;
}

.left {
    text-align: left;
}

.cert {
    display: block;
    position: relative;
    width: 100%;
}

.cert svg {
    z-index: 500;
    position: absolute;
    width: 4rem;
    height: 4rem;
    color: white;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    padding: 0;
    margin: 0;
}

.cert canvas {
    padding: 0;
    margin: 0 0 -.2rem 0;
    width: 100%;
    height: auto;
}

.cert.verified {
    background-color: var(--green);
}

.cert.verified canvas {
    opacity: .2;
}

.name {
    font-weight: 600;
    font-size: 120%;
}

.date {
    margin-bottom: 2rem;
}

.infobox {
    position: relative;
    background-color: var(--blue);
    border-radius: .5rem;
}

.infobox.verified {
    background-color: var(--bg-green);
}

.gueltigkeit.verifying {
    visibility: hidden;
}

.infobox>div {
    padding: 1rem;
}

.loading {
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: block;
    top: -1rem;
    left: calc(50% - 1rem);
}

.infobox .loading.spinner {
    background-color: black;
    color: white;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    margin: .2rem;
}

.checked {
    color: green
}

.data {
    border-top: .25rem dashed var(--blue);
    text-align: left;
    width: 100%;
}

.data div:nth-child(3n+1) {
    padding-top: 1rem;
    font-weight: 600;
}

.data div:nth-child(3n+3) {
    color: grey;
    margin-bottom: .5rem;
}

.issuing-date {
    text-align: left;
}

.issuing-date div {
    margin: 1rem 0
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    animation-name: spin;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}